{% extends 'site/base.html.twig' %}

{% block title %}Че нужно?{% endblock %}

{% block body %}
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
        }
        h1{
            margin-bottom: 10px;
        }
        a{
            color: #000;
            margin-bottom: 50px;
        }
    </style>
    
    <div class="main">
        <a href="{{ path('lk/setting') }}"><h1>В настройки!</h1></a>
        <h1>Че надо?</h1>
        <ul>
            <li>Выводы ошибок на всем сайте!</li>
            <li>
                <b>Расписание:</b><br>
                Добавить редактирование расписания для:
                <ul style="margin-left: 30px">
                    <li>
                        Всей конторы<br>
                        <ul style="margin-left: 60px">
                            <li>Сделать модалку для "/lk/setting/company"</li>
                            <li>С ее помощью менять значения в инпута</li>
                            <li>Добавить сущность для работы со временем<br>
                                (Возможно одна сущность на все расписания:<br>Компании,Сотрудники,Личное расписани)</li>
                        </ul>
                    </li>
                    <li>Каждого сотрудника</li>
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}
